
<div class="div-toolbar">

    <mat-toolbar class="custom-toolbar" color="primary">
        <label for="nome">Nome</label>
        <label for="nascimento">Data de nascimento</label>
        <label for="email">E-mail</label>
        <label for="celular">Celular para contato</label>
        <label for="actions">Ações</label>
    </mat-toolbar>
</div>

<div class="scrollable-container">
    <div class="main-group">
        
        <table>
            <tbody class="custom-tbody">
                <tr *ngFor="let user of usersService.getUsers()">
                    <mat-card>
                        <td>{{ user.name }}</td>
                        <td>{{ user.date | date }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.cell }}</td>
                        <td>
                            <button mat-button (click)="editUser(user)">
                            <img src="assets/alphacode_assets/editar.png" class="action-image" alt="Editar">
                            </button>
                            <button mat-button (click)="deleteUser(user)">
                                <img src="assets/alphacode_assets/excluir.png" class="action-image"  alt="Excluir">
                            </button>
                        </td>
                    </mat-card>
                    </tr>
                </tbody>
                
            </table>
    </div>
  </div>
  