<div class="div-toolbar">

    <mat-toolbar class="custom-toolbar" color="primary">
        <label for="nome">Nome</label>
        <label for="nascimento">Data de nascimento</label>
        <label for="email">E-mail</label>
        <label for="celular">Celular para contato</label>
        <label for="actions">Ações</label>
    </mat-toolbar>
</div>

<div class="scrollable-container">
    <div class="main-group">

        <table>
            <tbody class="custom-tbody">
                <tr *ngFor="let user of users">
                    <mat-card>
                        <td>{{ user.nomeContato || 'N/A' }}</td>
                        <td>{{ user.dataNascimento || 'N/A' }}</td>
                        <td>{{ user.email || 'N/A' }}</td>
                        <td>{{ user.celularContato || 'N/A' }}</td>
                        <td>
                            <button mat-button (click)="atualizarCadastro(user)">
                                <img src="assets/alphacode_assets/editar.png" class="action-image" alt="Editar">
                            </button>
                            <button mat-button (click)="deletarCadastro(user)">
                                <img src="assets/alphacode_assets/excluir.png" class="action-image" alt="Excluir">
                            </button>
                        </td>
                    </mat-card>
                </tr>
            </tbody>

        </table>
    </div>
</div>