div {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

mat-card {
    display: block;
    height: 40px;
}

td {
    font-size: 11px;
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

tr {
    display: block;
    padding-top: 10px;

}

.div-toolbar {
    display: flex;

}


.main-group {
    display: flex;

    align-content: center;
    width: 93%;

}

.action-image {

    width: 18px;
    height: 18px;
}

.custom-toolbar {
    height: 30px;
    width: 93%;
    justify-content: space-around;
}

.custom-tbody {
    justify-content: space-around;
    width: 50%;
}

.scrollable-container {
    max-height: 300px;
    overflow-y: auto;
}








.scrollable {
    max-height: 300px;
    /* ou qualquer altura desejada */
    overflow-y: auto;
}