<div class="check-group">


    <mat-checkbox class="custom-checkbox" value="whatsapp">
        <label class="checkbox-text" for="whatsapp">
            Número de celular possui Whatsapp
        </label>
    </mat-checkbox>

    <mat-checkbox class="custom-checkbox" value="sms">
        <label class="checkbox-text" for="sms">
            Enviar notificações por SMS
        </label>
    </mat-checkbox>

    <mat-checkbox class="custom-checkbox" value="email">
        <label class="checkbox-text" for="email">
            Enviar notificações por E-mail
        </label>
    </mat-checkbox>

</div>