
  
.checkbox-text {
    color: #7e7e7e;
}

  .check-group {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-inline: auto;

}

.custom-checkbox {

    width: 85%;
}

