<div class="forms-group">

  <form class="alphacode-form">
    <div class="custom-forms">
      <label for="nomeCompleto">Nome completo</label>
      <input type="text" class="input" id="nomeCompleto" placeholder="Ex.: Letícia Pacheco dos Santos">
    </div>
    
    <div class="custom-forms">
      <label for="dataNascimento">Data de nascimento</label>
      <input type="text" class="input" id="dataNascimento" placeholder="hello">
    </div>
    
    <div class="custom-forms">
      <label for="email">Email</label>
      <input type="text" class="input" id="email" placeholder="hello">
    </div>
    
    <div class="custom-forms">
      <label for="profissao">Profissão</label>
      <input type="text" class="input" id="profissao" placeholder="hello">
    </div>
    
    <div class="custom-forms">
      <label for="telefoneContato">Telefone para contato</label>
      <input type="text" class="input" id="telefoneContato" placeholder="hello">
    </div>
    
    <div class="custom-forms">
      <label for="celularContato">Celular para contato</label>
      <input type="text" class="input" id="celularContato" placeholder="hello">
    </div>
  </form>
  
  
</div>